.main {
    height: 100vh;
    background-image: url(../../Assets/images/cool-background.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main .imageHome {
    height: 200px;
    width: 400px;
}

.main .data {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main .data .heading {
    font-size: 48px;
    color: #23226B;
    border-bottom: 2px solid #FED130;
    font-family: exo;
    font-weight: 500;
}

.main .data .subHeading {
    font-size: 42px;
    color: #23226B;
    font-weight: bold;
    font-family: exo;
    margin-top: 10px;
}

.main .data .paraGraph {
    font-size: 30px;
    color: #23226B;
    font-weight: 400;
    font-family: exo;
    margin-top: 10px;
}

.main .data .contactMeBtn {
    background: #fcad26;
    color: #fff;
    border: none;
    font-family: exo;
    font-size: 16px;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.main .data .contactMeBtn:hover {
    background: #f29e0d;
}

.main .data .contactMeBtn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 30%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(2deg);
}